:root {
    --black: #212121;
    --dark: #37474F;
    --grey: #616161;
    --blue-grey: #607D8B;
    --white: #ECEFF1;
    --main: #F57F17;
    --blue: #2196F3;
}

body {
    font-family: 'Roboto Slab', serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    padding: 8px 20px;
}


/* Whole tags */
button,
input {
    font-size: 1rem;
    font-family: 'Roboto Slab', serif;
    border: none;
}

/* Header */
.Header {
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: var(--black);
    height: 60px;
}

.logo {
    color: var(--main);
}

.auth-btn {
    padding: .5rem 1rem;
    background-color: var(--dark);
    color: var(--white);
}

/* MessagesFeed */
.MessagesFeed {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    margin: 60px 0;
    background-color: var(--grey);
    height: 100vh;
}

.Message {
    display: flex;
    gap: 4px;
    margin: 10px;
    align-items: end;
}

.Message__content {
    max-width: 80%;
    display: flex;
    flex-direction: column
}

.Message__text {
    padding: 10px 20px;
    background-color: var(--white);
    border-radius: 20px;
    width: fit-content;
}

.Message--user {
    flex-direction: row-reverse;
}

.Message--user.text{
    background-color: var(--blue); 
    color: var(--white)
}

.Message__username {
    font-size: .8em;
    color: var(--main);
    margin: 0 0 2px 10px;
}

.Message__avatar {
    aspect-ratio: 1 / 1;
    height: 41px;
    border-radius: 50%;
    background-color: var(--main);
}

/* Send */
.Send {
    position: fixed;
    bottom: 0;
    width: 100vw;
}

.message-form {
    display: flex;
}

.message-input {
    background-color: var(--blue-grey);
    padding: 20px 10px;
    color: var(--white);
    flex: 1;
}

::placeholder {
    color: var(--white);
    opacity: .5
}

.message-btn {
    width: 100px;
    background-color: var(--main)
}

/* Login page */
.Login {
    height: 100vh;
    width: 100vw;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5em;
}

.Login__header {
    color: var(--main)
}

